<header id="header-navbar" class="content-mini content-mini-full">
<!-- Header Navigation Right -->
<ul class="nav-header pull-right">
    <li>
        <div class="btn-group">
            <button class="btn btn-default btn-image dropdown-toggle" data-toggle="dropdown" type="button">
                <img src="assets/img/avatars/avatar1.svg" alt="Usuário do sistema">
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right">
                <li class="dropdown-header">Perfil</li>
                <li>
                    <a tabindex="-1" href="javascript:void(0)">
                        <i class="si si-settings pull-right"></i>Meus dados
                    </a>
                </li>
                <li class="divider"></li>
                <li class="dropdown-header">Ações</li>
                <li>
                    <a tabindex="-1" href="javascript:void(0)">
                        <i class="si si-lock pull-right"></i>Redefinir senha
                    </a>
                </li>
                <li>
                    <a tabindex="-1" href="javascript:void(0)">
                        <i class="si si-logout pull-right"></i>Sair do sistema
                    </a>
                </li>
            </ul>
        </div>
    </li>
</ul>
<!-- END Header Navigation Right -->

<!-- Header Navigation Left -->
<ul class="nav-header pull-left">
    <li class="hidden-md hidden-lg">
        <!-- Layout API, functionality initialized in App() -> uiLayoutApi() -->
        <button class="btn btn-default" data-toggle="layout" data-action="sidebar_toggle" type="button">
            <i class="fa fa-navicon"></i>
        </button>
    </li>
</ul>
<!-- END Header Navigation Left -->

</header>