<header id="header-navbar" class="content-mini content-mini-full">
<!-- Header Navigation Right -->
<ul class="nav-header pull-right">
    <li>
        <div class="btn-group" ng-controller="authenticationCtrl">
            <button class="btn btn-default btn-image dropdown-toggle" data-toggle="dropdown" type="button">
                <img src="assets/img/avatars/avatar1.svg" alt="Usuário do sistema">
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right" ng-init="getProfile()">
                <li class="dropdown-header">Perfil</li>
                <li>
                    <p class="dropdown-header" ng-if="profileUserLogged == 1" style="text-transform: none; color: rgb(51, 51, 51); font-weight: normal;">Administrador</p>
                    <p class="dropdown-header" ng-if="profileUserLogged == 2" style="text-transform: none; color: rgb(51, 51, 51); font-weight: normal;">Gestor de contrato</p>
                    <p class="dropdown-header" ng-if="profileUserLogged == 3" style="text-transform: none; color: rgb(51, 51, 51); font-weight: normal;">Gestor de compras</p>
                    <p class="dropdown-header" ng-if="profileUserLogged == 4" style="text-transform: none; color: rgb(51, 51, 51); font-weight: normal;">Gestor de estoque</p>
                    <p class="dropdown-header" ng-if="profileUserLogged == 5" style="text-transform: none; color: rgb(51, 51, 51); font-weight: normal;">Gestor de compras/estoque</p>
                    <p class="dropdown-header" ng-if="profileUserLogged == 6" style="text-transform: none; color: rgb(51, 51, 51); font-weight: normal;">Observador</p>
                </li>
                <li class="divider"></li>
                <li class="dropdown-header">Ações</li>
                <li>
                    <a tabindex="-1" href="javascript:void(0)" ng-click="redefinirsenha()">
                        <i class="si si-lock pull-right"></i>Redefinir senha
                    </a>
                </li>
                <li>
                    <a tabindex="-1" href="javascript:void(0)" ng-click="logout()">
                        <i class="si si-logout pull-right"></i>Sair do sistema
                    </a>
                </li>
            </ul>
        </div>
    </li>
</ul>
<!-- END Header Navigation Right -->

<!-- Header Navigation Left -->
<ul class="nav-header pull-left">
    <li class="hidden-md hidden-lg">
        <!-- Layout API, functionality initialized in App() -> uiLayoutApi() -->
        <button class="btn btn-default" data-toggle="layout" data-action="sidebar_toggle" type="button">
            <i class="fa fa-navicon"></i>
        </button>
    </li>
</ul>
<!-- END Header Navigation Left -->

</header>