<nav id="sidebar">
    <!-- Sidebar Scroll Container -->
    <div id="sidebar-scroll">
        <!-- Sidebar Content -->
        <!-- Adding .sidebar-mini-hide to an element will hide it when the sidebar is in mini mode -->
        <div class="sidebar-content">
            <!-- Side Header -->
            <div class="side-header side-content bg-white-op">
                <button data-action="sidebar_close" data-toggle="layout" type="button" class="btn btn-link text-gray pull-right hidden-md hidden-lg"><i class="fa fa-times"></i>
                </button>
                <!-- Themes functionality initialized in App() -> uiHandleTheme() -->
                <div class="btn-group pull-right">
                    <ul class="dropdown-menu dropdown-menu-right font-s13 sidebar-mini-hide">
                        <li>
                            <a data-toggle="theme" data-theme="default" tabindex="-1" href="javascript:void(0)">
                                <i class="fa fa-circle text-default pull-right"></i> <span class="font-w600">Default</span>
                            </a>
                        </li>
                        <li>
                            <a data-toggle="theme" data-theme="assets/css/themes/amethyst.min.css" tabindex="-1" href="javascript:void(0)">
                                <i class="fa fa-circle text-amethyst pull-right"></i> <span class="font-w600">Amethyst</span>
                            </a>
                        </li>
                        <li>
                            <a data-toggle="theme" data-theme="assets/css/themes/city.min.css" tabindex="-1" href="javascript:void(0)">
                                <i class="fa fa-circle text-city pull-right"></i> <span class="font-w600">City</span>
                            </a>
                        </li>
                        <li>
                            <a data-toggle="theme" data-theme="assets/css/themes/flat.min.css" tabindex="-1" href="javascript:void(0)">
                                <i class="fa fa-circle text-flat pull-right"></i> <span class="font-w600">Flat</span>
                            </a>
                        </li>
                        <li>
                            <a data-toggle="theme" data-theme="assets/css/themes/modern.min.css" tabindex="-1" href="javascript:void(0)">
                                <i class="fa fa-circle text-modern pull-right"></i> <span class="font-w600">Modern</span>
                            </a>
                        </li>
                        <li>
                            <a data-toggle="theme" data-theme="assets/css/themes/smooth.min.css" tabindex="-1" href="javascript:void(0)">
                                <i class="fa fa-circle text-smooth pull-right"></i> <span class="font-w600">Smooth</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <a class="h5 text-white" href="#!/app">
                    <i class="fa fa-circle-o-notch text-primary"></i> <span class="h4 font-w600 sidebar-mini-hide">secc</span>
                </a>
            </div>
            <!-- END Side Header -->

            <!-- Side Content -->
            <div class="side-content" ng-controller="authenticationCtrl">
                <ul class="nav-main" ng-init="getAccessProfilePermission()">
                    <li ng-if="accessProfile == 1 || accessProfile == 7">
                        <a class="active" href="#!/app"><i class="si si-speedometer"></i><span class="sidebar-mini-hide">Dashboard</span></a>
                    </li>
                    <li class="nav-main-heading"><span class="sidebar-mini-hide">Atividades</span></li>
                    <li ng-if="accessProfile == 1 || accessProfile == 2 || accessProfile == 7 || accessProfile == 8" navsubmenu>
                        <a class="nav-submenu" data-toggle="nav-submenu" href="javascript:;"><i class="fa fa-file-text"></i><span class="sidebar-mini-hide">Contratos</span></a>
                        <ul>
                            <li>
                                <a href="#!/contrato">Lista de contrato</a>
                            </li>
                        </ul>
                    </li>
                    <li ng-if="accessProfile == 1 || accessProfile == 2 || accessProfile == 7 || accessProfile == 8" navsubmenu>
                        <a class="nav-submenu" data-toggle="nav-submenu" href="javascript:;"><i class="fa fa-truck"></i><span class="sidebar-mini-hide">Fornecedor</span></a>
                        <ul>
                            <!--<li>
                                <a href="#!/fornecedor/add">Adicionar fornecedor</a>
                            </li>-->
                            <li>
                                <a href="#!/fornecedor">Lista de fornecedor</a>
                            </li>
                        </ul>
                    </li>
                    <li ng-if="accessProfile == 1 || accessProfile == 2 || accessProfile == 7 || accessProfile == 8" navsubmenu>
                        <a class="nav-submenu" data-toggle="nav-submenu" href="javascript:;"><i class="fa fa-th"></i><span class="sidebar-mini-hide">Unidade de Medida</span></a>
                        <ul>
                            <!--<li>
                                <a href="#!/unidademedida/add">Adicionar und. de medida</a>
                            </li>-->
                            <li>
                                <a href="#!/unidademedida">Lista de und. de medida</a>
                            </li>
                        </ul>
                    </li>
                    <li ng-if="accessProfile == 1  || accessProfile == 3 || accessProfile == 5 || accessProfile == 7 || accessProfile == 8" navsubmenu>
                        <a class="nav-submenu" data-toggle="nav-submenu" href="javascript:;"><i class="fa fa-dollar"></i><span class="sidebar-mini-hide">Compras</span></a>
                        <ul>
                            <li>
                                <a href="#!/ordemservico">Ordem de serviço</a>
                            </li>
                        </ul>
                    </li>
                    <li ng-if="accessProfile >= 1 || accessProfile <= 9" navsubmenu>
                        <a class="nav-submenu" data-toggle="nav-submenu" href="javascript:;"><i class="fa fa-cart-arrow-down"></i><span class="sidebar-mini-hide">Minhas Solicitações</span></a>
                        <ul>
                            <li>
                                <a href="#!/solicitacaouser">Lista de solicitações</a>
                            </li>
                        </ul>
                    </li>
                    <li ng-if="accessProfile == 1 || accessProfile == 7 || accessProfile == 4 || accessProfile == 5" navsubmenu>
                        <a class="nav-submenu" data-toggle="nav-submenu" href="javascript:;"><i class="fa fa-database"></i><span class="sidebar-mini-hide">Estoque</span></a>
                        <ul>
                            <li>
                                <a href="#!/entrada">Entrada de produtos</a>
                            </li>
                            <li>
                                <a href="#!/saida">Saída emergencial</a>
                            </li>
                            <li>
                                <a href="#!/solicitacao">Gerenciar solicitações</a>
                            </li>
                            <li>
                                <a href="#!/relatorio/produtoestoque">Produtos no estoque</a>
                            </li>
                            <li>
                                <a href="#!/relatorio/produtoestoqueminimo">Produtos abaixo do estoque minimo</a>
                            </li>
                        </ul>
                    </li>
                    <li ng-if="accessProfile >= 1 && accessProfile <= 8" navsubmenu>
                        <a class="nav-submenu" data-toggle="nav-submenu" href="javascript:;"><i class="fa fa-area-chart"></i><span class="sidebar-mini-hide">Relatórios</span></a>
                        <ul>
                            <li>
                                <a href="#!/relatorio/contratoativos">Contratos ativos</a>
                            </li>
                            <li>
                                <a href="#!/relatorio/contratoproximovencimento">Contratos próximo do vencimento</a>
                            </li>
                            <li>
                                <a href="#!/relatorio/contratovencidos">Contratos vencidos</a>
                            </li>
                            <li>
                                <a href="#!/relatorio/aditivoativos">Aditivos ativos</a>
                            </li>
                            <li>
                                <a href="#!/relatorio/aditivoproximovencimento">Aditivos próximo do vencimento</a>
                            </li>
                            <li>
                                <a href="#!/relatorio/aditivovencidos">Aditivos vencidos</a>
                            </li>
                            <li>
                                <a href="#!/relatorio/ordemservico">Ordem de serviços</a>
                            </li>
                            <li>
                                <a href="#!/relatorio/produtoestoque">Produtos no estoque</a>
                            </li>
                            <li>
                                <a href="#!/relatorio/produtoestoqueminimo">Produtos abaixo do estoque minimo</a>
                            </li>
                            <li>
                                <a href="#!/relatorio/solicitacaosetor">Solicitação por setor</a>
                            </li>
                        </ul>
                    </li>
                    <li ng-if="accessProfile == 1"
                     class="nav-main-heading"><span class="sidebar-mini-hide">Administrativo</span></li>
                    <li ng-if="accessProfile == 1" navsubmenu>
                        <a class="nav-submenu" data-toggle="nav-submenu" href="javascript:;"><i class="fa fa-users"></i><span class="sidebar-mini-hide">Usuários</span></a>
                        <ul>
                            <!--<li>
                                <a href="#!/usuario/add">Adicionar usuário</a>
                            </li>-->
                            <li>
                                <a href="#!/usuario">Lista de usuários</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- END Side Content -->
        </div>
        <!-- Sidebar Content -->
    </div>
    <!-- END Sidebar Scroll Container -->
    </nav>