<h1>Adicionar produto</h1>

<form name="createForm" role="form" novalidate>

	<input type="hidden" ng-model="produto.idproduto" name="idproduto">

	<div class="form-group">
		<label for="nome" class="control-label">Nome: <span class="red">*</span></label>
		<input type="text" class="form-control" ng-model="produto.nome" name="nome" placeholder="Informe o nome do produto" required>
		<span class="help-block" ng-show="createForm.nome.$dirty && createForm.nome.$error.required">O campo é obrigatório</span>
	</div><!-- END INPUT -->

	<div class="form-group">
		<label for="descricao" class="control-label">Descricao:</label>
		<input type="text" class="form-control" ng-model="produto.descricao" name="descricao" placeholder="Informe a descrição do produto">
	</div><!-- END INPUT -->

	<div class="form-group">
		<label for="preco" class="control-label">Marca: <span class="red">*</span></label>
		<input type="text" class="form-control" ng-model="produto.marca" name="marca" placeholder="Informe a marca do produto" required>
		<span class="help-block" ng-show="createForm.marca.$dirty && createForm.marca.$error.required">O campo é obrigatório</span>
	</div><!-- END INPUT -->

	<div class="form-group">
		<label for="quantidade" class="control-label">Unidade de Medida: <span class="red">*</span></label>
		<select class="form-control" ng-model="produto.idunidade_medida" name="idunidade_medida" ng-init="loadunidademedidas()" required>
		<option value="">Escolha</option>
		<option ng-repeat="unidade in unidademedidas" value="{{unidade.idunidade_medida}}" ng-selected="produto.idunidade_medida==unidade.idunidade_medida">{{unidade.sigla}} - {{unidade.descricao}}</option>
		</select>
		<!-- <input type="text" class="form-control" ng-model="produto.idunidade_medida" name="idunidade_medida" placeholder="Informa a unidade de medida do produto" required> -->
		<span class="help-block" ng-show="createForm.idunidade_medida.$dirty && createForm.idunidade_medida.$error.required">O campo é obrigatório</span>
	</div><!-- END INPUT -->

	<img src="assets/img/ajax-loader.gif" ng-show="isloading">
	<button type="submit" ng-click="saveitem()" ng-class="{disabled: createForm.$invalid}" class="btn btn-primary" ng-disabled="submitting" ng-switch="submitting">
		<span ng-switch-default>Salvar</span>
    	<span ng-switch-when="true">Salvando...</span>
	</button>
	<a href="#!/produto" class="btn btn-danger">Cancelar</a>

</form>