<!-- <h1>RESULTADO DO FEEDBACK <p ng-repeat="message in feedbackMessage"></p>{{message.msg}}</h1> -->

<div class="row" ng-init="load()">

	<!-- <h1 class="message" data-ng-show="feedback" data-ng-bind="feedbackMessage">{{feedbackMessage}}</h1> -->
	<div class="col-sm-12">
		<!-- <div ng-bind="feedback" class="alert alert-{{feedbackType}}">
		  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
		  <div><span class="{{feedbackIcon}}"></span>{{feedbackMessage}}</div>
		</div> -->
	</div><!-- FEEDBACK MESSAGE -->


	<div class="col-sm-12">
		<h3>Lista de Fornecedores</h3>

		<a href="#!/fornecedor/add" class="btn btn-success btn-sm pull-right"><i class="glyphicon glyphicon-plus"></i> Adicionar</a>
	</div>

	<div class="col-sm-12">

		<form ng-show="totalItems">
	    	<div class="form-group">
		      <div class="input-group">
		        <div class="input-group-addon"><i class="fa fa-search"></i></div>
		        <input type="text" class="form-control" placeholder="Busca" ng-model="searchItem">
		      </div>      
	      	</div>
	    </form>

		<div class="table-responsive" ng-show="totalItems > 0">
			<table class="table table-striped">
				<thead>
					<th>#</th>
					<th>
						<a href="#" ng-click="sortType = 'razaosocial'; sortReverse = !sortReverse">
							Razão Social
							<span ng-show="sortType == 'razaosocial' && !sortReverse" class="fa fa-caret-down"></span>
            				<span ng-show="sortType == 'razaosocial' && sortReverse" class="fa fa-caret-up"></span>
						</a>
					</th>
					<th>CNPJ</th>
					<th>Celular</th>
					<th>Responsável</th>
					<th></th>
					<th></th>
				</thead>
				<tbody>
					<tr ng-repeat="fornecedor in fornecedores | orderBy:sortType:sortReverse | filter:searchItem | filter : paginate">
						<td>{{fornecedor.idfornecedor}}</td>
						<td>{{fornecedor.razaosocial}}</td>
						<td>{{fornecedor.cnpj}}</td>
						<td>{{fornecedor.celular}}</td>
						<td>{{fornecedor.responsavel}}</td>
						<td><a href="#!/fornecedor/edit/{{fornecedor.idfornecedor}}">Editar</a></td>
						<td><a href="javascript:;" ng-click="deleteitem(fornecedor.idfornecedor)">Excluir</a></td>
					</tr>
				</tbody>
			</table>
			<pagination total-items="totalItems" ng-model="currentPage" max-size="5" boundary-links="true" items-per-page="numPerPage" class="pagination-sm"></pagination>
		</div>

		<div class="col-md-12" ng-show="!totalItems">
	        <div class="col-md-12">
	            <h4>Nenhum item encontrado.</h4>
	        </div>
	    </div>

	</div>
</div>