<!-- Page Header -->
<div class="content bg-gray-lighter">
    <div class="row items-push">
        <div class="col-sm-8">
            <h1 class="page-heading">
                Formulário de unidade de medida <small>adicione, edite os itens da unidade de medida</small>
            </h1>
        </div>
        <div class="col-sm-4 text-right hidden-xs">
            <ol class="breadcrumb push-10-t">
                <li>Dashboard</li>
                <li><a class="link-effect" href="#!/unidademedida">Unidade de Medida</a></li>
            </ol>
        </div>
    </div>
</div>
<!-- END Page Header -->

<!-- Page Content -->
<div class="content content-narrow">
	<div class="block">
		<div class="row">
			<div class="col-sm-12">

				<!-- Messages -->
		        <!-- <div ng-include="'views/messages.html'"></div> -->
		        <!-- End Messages -->

				<p></p><!-- clearfixed -->

				<form name="createForm" role="form" class="col-sm-12" novalidate>

					<input type="hidden" ng-model="unidademedida.idunidade_medida" name="idunidademedida">

					<div class="form-group">
						<label for="nome" class="control-label">Sigla: <span class="red">*</span></label>
						<input type="text" class="form-control" ng-model="unidademedida.sigla" name="sigla" placeholder="Informe a sigla da unidade de medida" required>
						<span class="help-block" ng-show="createForm.nome.$dirty && createForm.sigla.$error.required">O campo é obrigatório</span>
					</div><!-- END INPUT -->

					<div class="form-group">
						<label for="descricao" class="control-label">Descricao:</label>
						<input type="text" class="form-control" ng-model="unidademedida.descricao" name="descricao" placeholder="Informe a descrição da unidademedida">
					</div><!-- END INPUT -->

					<img src="assets/img/ajax-loader.gif" ng-show="isloading">
					<button type="submit" ng-click="saveitem()" ng-class="{disabled: createForm.$invalid}" class="btn btn-primary" ng-disabled="submitting" ng-switch="submitting">
						<span ng-switch-default>Salvar</span>
				    	<span ng-switch-when="true">Salvando...</span>
					</button>
					<a href="#!/unidademedida" class="btn btn-danger">Cancelar</a>

					<p></p><!-- clearfixed -->

				</form>

			</div><!-- end col-sm-12 -->
		</div><!-- end row -->
	</div><!-- end block -->
</div>
<!-- END Page Content -->