<!-- <h1>RESULTADO DO FEEDBACK <p ng-repeat="message in feedbackMessage"></p>{{message.msg}}</h1> -->

<div class="row" ng-init="load()">

	<!-- <h1 class="message" data-ng-show="feedback" data-ng-bind="feedbackMessage">{{feedbackMessage}}</h1> -->
	<div class="col-sm-12">
		<!-- <div ng-bind="feedback" class="alert alert-{{feedbackType}}">
		  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
		  <div><span class="{{feedbackIcon}}"></span>{{feedbackMessage}}</div>
		</div> -->
	</div><!-- FEEDBACK MESSAGE -->


	<div class="col-sm-12">
		<h3>Lista de Unidades de Medida</h3>

		<a href="#!/unidademedida/add" class="btn btn-success btn-sm pull-right"><i class="glyphicon glyphicon-plus"></i> Adicionar</a>
	</div>

	<div class="col-sm-12">

		<form ng-show="totalItems">
	    	<div class="form-group">
		      <div class="input-group">
		        <div class="input-group-addon"><i class="fa fa-search"></i></div>
		        <input type="text" class="form-control" placeholder="Busca" ng-model="searchItem">
		      </div>      
	      	</div>
	    </form>

		<div class="table-responsive" ng-show="totalItems > 0">
			<table class="table table-striped">
				<thead>
					<th>#</th>
					<th>
						<a href="#" ng-click="sortType = 'sigla'; sortReverse = !sortReverse">
							Sigla
							<span ng-show="sortType == 'sigla' && !sortReverse" class="fa fa-caret-down"></span>
            				<span ng-show="sortType == 'sigla' && sortReverse" class="fa fa-caret-up"></span>
						</a>
					</th>
					<th>Descrição</th>
					<th></th>
					<th></th>
				</thead>
				<tbody>
					<tr ng-repeat="unidademedida in unidademedidas | orderBy:sortType:sortReverse | filter:searchItem">
						<td>{{unidademedida.idunidade_medida}}</td>
						<td>{{unidademedida.sigla}}</td>
						<td>{{unidademedida.descricao}}</td>
						<td><a href="#!/unidademedida/edit/{{unidademedida.idunidade_medida}}">Editar</a></td>
						<td><a href="javascript:;" ng-click="deleteitem(unidademedida.idunidade_medida)">Excluir</a></td>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="col-md-12" ng-show="!totalItems">
	        <div class="col-md-12">
	            <h4>Nenhum item encontrado.</h4>
	        </div>
	    </div>

	</div>
</div>