<section>
    <div class="block block-themed block-transparent remove-margin-b">
        <div class="block-header bg-primary-dark">
            <ul class="block-options">
                <li>
                    <button type="button" data-dismiss="modal" ng-click="cancel()"><i class="si si-close"></i></button>
                </li>
            </ul>
            <h3 class="block-title">Detalhes da Solicitação</h3>
        </div>
        <div class="block-content">

        <div class="form-group">
                        <label for="nome" class="control-label">Número da Solicitação:</label>
                        <span class="label label-info">
                        {{solicitacao.idsolicitacao}}
                        </span>
                    </div><!-- END INPUT -->
           <div class="form-group">
                        <label for="nome" class="control-label">Data Solicitação:</label>
                        {{solicitacao.datasolicitacao}}
                    </div><!-- END INPUT -->

                    <div class="form-group">
                        <label for="descricao" class="control-label">Status:</label>

                        <span ng-show="solicitacao.status == 'Cancelado'" 
                                class="label label-danger">{{solicitacao.status}}</span>

                        <span ng-show="solicitacao.status == 'Aguardando'" 
                                class="label label-warning">{{solicitacao.status}}</span>

                        <span ng-show="solicitacao.status == 'Finalizado'" 
                                class="label label-success">{{solicitacao.status}}</span>

                    </div><!-- END INPUT -->

                    <div class="form-group" ng-show="totalItemsP > 0">
                    <fieldset >
                        <legend>Produtos da Solicitação</legend>
                        <div class="table-responsive" >
                        <table class="table table-striped">
                            <thead>
                                <th width="1%" >#</th>
                                <th width="40%" >Produto</th>
                                <th width="19%" >QTD</th>
                                <th width="20%" >Status</th>
                                <th width="20%" >Motivo</th>
                            </thead>
                            <tbody>
                                <tr ng-repeat="solprod in produtossolicitacao">
                                    <td>{{$index+1}}</td>
                                    <td>{{solprod.produto}}</td>
                                    <td>{{solprod.qtd}}</td>
                                    <td>
                                        <a ng-show="solprod.status == 'Deferido'" class="btn btn-success btn-sm" href="javascript:;">{{solprod.status}}</a>
                                        <a ng-show="solprod.status == 'Aguardando'" class="btn btn-warning btn-sm" href="javascript:;">{{solprod.status}}</a>
                                        <a ng-show="solprod.status == 'Indeferido'" class="btn btn-danger btn-sm" href="javascript:;">{{solprod.status}}</a>
                                    </td>
                                    <td>
                                        <div ng-show="solprod.status == 'Indeferido'">{{solprod.motivo}}</div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    </fieldset>
                    </div>

        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-sm btn-warning" ng-click="cancel()">Fechar</button>
    </div>
</section>
<!-- end modal -->