<!-- includes views -->
<!-- <div ng-include="'views/loading.html'"></div> -->
<!-- <message-list></message-list> -->

<!-- Page Container -->
<div id="page-container" class="sidebar-l sidebar-o side-scroll header-navbar-fixed">

    <!-- Sidebar -->
    <md-sidebar></md-sidebar>
    <!-- end Sidebar -->    

    <!-- Header -->
    <md-header></md-header>
    <!-- end Header -->

    <!-- Main Container -->
    <main id="main-container" >

        <!-- pageheader -->
        <div class="content bg-gray-lighter">
            <div class="row items-push">
                <div class="col-sm-7">
                    <h1 class="page-heading">SECC <small>Sistema de estoque, compras e contratos.</small></h1>
                </div>
                <div class="col-sm-5 text-right hidden-xs">
                    <ol class="breadcrumb push-10-t">
                        <li>SECC</li>
                        <li><a href="#!/app" class="link-effect">Dashboard</a></li>
                    </ol>
                </div>
            </div>
        </div>
        <!-- end pageheader -->

        <!-- conteudo do app -->
        <div class="content">

            <!-- Icon Tiles -->
            <h2 class="content-heading">Atividades</h2>
            <div class="content-grid push-50">
                <div class="row">
                    <div class="col-xs-6 col-sm-4 col-lg-2">
                        <a class="block block-link-hover3 text-center" href="#!/contratos">
                            <div class="block-content block-content-full">
                                <i class="fa fa-file-text fa-4x text-danger"></i>
                                <div class="font-w600 push-15-t">Contratos</div>
                            </div>
                        </a>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-lg-2">
                        <a class="block block-link-hover3 text-center" href="#!/unidadedemedida">
                            <div class="block-content block-content-full">
                                <i class="fa fa-sliders fa-4x text-danger"></i>
                                <div class="font-w600 push-15-t">Unidade de médida</div>
                            </div>
                        </a>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-lg-2">
                        <a class="block block-link-hover3 text-center" href="#!/produto">
                            <div class="block-content block-content-full">
                                <i class="fa fa-cubes fa-4x text-primary-darker"></i>
                                <div class="font-w600 push-15-t">Produto</div>
                            </div>
                        </a>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-lg-2">
                        <a class="block block-link-hover3 text-center" href="#!/fornecedor">
                            <div class="block-content block-content-full">
                                <i class="fa fa-truck fa-4x text-warning"></i>
                                <div class="font-w600 push-15-t">Fornecedor</div>
                            </div>
                        </a>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-lg-2">
                        <a class="block block-link-hover3 text-center" href="#!/compras">
                            <div class="block-content block-content-full">
                                <i class="fa fa-dollar fa-4x text-success"></i>
                                <div class="font-w600 push-15-t">Compras</div>
                            </div>
                        </a>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-lg-2">
                        <a class="block block-link-hover3 text-center" href="#!/estoque">
                            <div class="block-content block-content-full">
                                <i class="fa fa-database fa-4x text-muted"></i>
                                <div class="font-w600 push-15-t">Estoque</div>
                            </div>
                        </a>
                    </div>
                    
                </div>
            </div>
            <!-- END Icon Tiles -->

            <!-- Vertical Tiles -->
            <h2 class="content-heading">Desempenho rápido</h2>

            <!-- Background Colored Text Tiles -->
            <div class="row">
                <div class="col-sm-6 col-lg-3">
                    <a class="block block-rounded block-link-hover3 text-center" href="javascript:void(0)">
                        <div class="block-content block-content-full">
                            <div class="h1 font-w700"><span class="h2 text-muted">R$</span>6.320,00</div>
                            <div class="h5 text-muted text-uppercase push-5-t">Compras</div>
                        </div>
                        <div class="block-content block-content-full block-content-mini bg-success text-white">
                            <i class="fa fa-arrow-up text-black-op"></i> +60% esta semana
                        </div>
                    </a>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <a class="block block-rounded block-link-hover3 text-center" href="javascript:void(0)">
                        <div class="block-content block-content-full">
                            <div class="h1 font-w700">18</div>
                            <div class="h5 text-muted text-uppercase push-5-t">Contratos</div>
                        </div>
                        <div class="block-content block-content-full block-content-mini bg-danger text-white">
                            <i class="fa fa-arrow-down text-black-op"></i> -15% esta semana
                        </div>
                    </a>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <a class="block block-rounded block-link-hover3 text-center" href="javascript:void(0)">
                        <div class="block-content block-content-full">
                            <div class="h1 font-w700"><span class="h2 text-muted">+</span> 48</div>
                            <div class="h5 text-muted text-uppercase push-5-t">Produtos</div>
                        </div>
                        <div class="block-content block-content-full block-content-mini bg-warning text-white">
                            <i class="fa fa-chevron-up text-black-op"></i> +15% esta semana
                        </div>
                    </a>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <a class="block block-rounded block-link-hover3 text-center" href="#!/usuario">
                        <div class="block-content block-content-full">
                            <div class="h1 font-w700"><span class="h2 text-muted">+</span> 4</div>
                            <div class="h5 text-muted text-uppercase push-5-t">Usuários</div>
                        </div>
                        <div class="block-content block-content-full block-content-mini bg-primary text-white">
                            <i class="fa fa-chevron-down text-black-op"></i> -2% esta semana
                        </div>
                    </a>
                </div>
            </div>
            <!-- END Background Colored Text Tiles -->
            <!-- END Texts Tiles -->

        </div>
        <!-- end conteudo do app -->
    </main>
    <!-- END Main Container -->

    <!-- Footer -->
    <md-footer></md-footer>
    <!-- end Footer -->

</div>
<!-- END Page Container -->