<!-- includes views -->
<!-- <div ng-include="'views/loading.html'"></div> -->
<!-- <message-list></message-list> -->

<!-- Page Container -->
<div id="page-container" class="sidebar-l sidebar-o side-scroll header-navbar-fixed">

    <!-- Sidebar -->
    <md-sidebar></md-sidebar>
    <!-- end Sidebar -->    

    <!-- Header -->
    <md-header></md-header>
    <!-- end Header -->

    <!-- Main Container -->
    <main id="main-container" ng-controller="authenticationCtrl" ng-init="getAccessProfilePermission()">

        <!-- pageheader -->
        <div class="content bg-gray-lighter">
            <div class="row items-push">
                <div class="col-sm-7">
                    <h1 class="page-heading">SECC <small>Sistema de estoque, compras e contratos.</small></h1>
                </div>
                <div class="col-sm-5 text-right hidden-xs">
                    <ol class="breadcrumb push-10-t">
                        <li>SECC</li>
                        <li><a href="#!/app" class="link-effect">Dashboard</a></li>
                    </ol>
                </div>
            </div>
        </div>
        <!-- end pageheader -->

        <!-- conteudo do app -->
        <div class="content" ng-init="getAccessProfilePermission()">

            <!-- Icon Tiles -->
            <h2 class="content-heading" ng-if="accessProfile == 1">Atividades</h2>
            <div class="content-grid push-50" ng-if="accessProfile == 1">
                <div class="row">
                    <div class="col-xs-6 col-sm-4 col-lg-2">
                        <a class="block block-link-hover3 text-center" href="#!/contrato" >
                            <div class="block-content block-content-full">
                                <i class="fa fa-file-text fa-4x text-danger"></i>
                                <div class="font-w600 push-15-t">Contratos</div>
                            </div>
                        </a>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-lg-2">
                        <a class="block block-link-hover3 text-center" href="#!/unidademedida">
                            <div class="block-content block-content-full">
                                <i class="fa fa-sliders fa-4x text-danger"></i>
                                <div class="font-w600 push-15-t">Unid. de medida</div>
                            </div>
                        </a>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-lg-2">
                        <a class="block block-link-hover3 text-center" href="#!/solicitacaouser">
                            <div class="block-content block-content-full">
                                <i class="fa fa-cart-arrow-down fa-4x text-primary-darker"></i>
                                <div class="font-w600 push-15-t">Minhas Solicitações</div>
                            </div>
                        </a>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-lg-2">
                        <a class="block block-link-hover3 text-center" href="#!/fornecedor">
                            <div class="block-content block-content-full">
                                <i class="fa fa-truck fa-4x text-warning"></i>
                                <div class="font-w600 push-15-t">Fornecedor</div>
                            </div>
                        </a>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-lg-2">
                        <a class="block block-link-hover3 text-center" href="#!/ordemservico">
                            <div class="block-content block-content-full">
                                <i class="fa fa-dollar fa-4x text-success"></i>
                                <div class="font-w600 push-15-t">Compras</div>
                            </div>
                        </a>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-lg-2">
                        <a class="block block-link-hover3 text-center" href="#!/entrada">
                            <div class="block-content block-content-full">
                                <i class="fa fa-database fa-4x text-muted"></i>
                                <div class="font-w600 push-15-t">Estoque</div>
                            </div>
                        </a>
                    </div>
                    
                </div>
            </div>
            <!-- END Icon Tiles -->

            <!-- Vertical Tiles -->
            <h2 class="content-heading" ng-if="accessProfile == 1 || accessProfile == 2">Desempenho rápido</h2>

            <!-- Background Colored Text Tiles -->
            <div class="row" ng-if="accessProfile == 1 || accessProfile == 2">
                <div class="col-sm-6 col-lg-3">
                    <a class="block block-rounded block-link-hover3 text-center" href="javascript:void(0)">
                        <div class="block-content block-content-full">
                            <div class="h1 font-w700" ng-init="totalCompras()"><span class="h2 text-muted"></span>{{ totalpurchases | finance:true:2 }}</div>
                            <div class="h5 text-muted text-uppercase push-5-t">Compras</div>
                        </div>
                        <div class="block-content block-content-full block-content-mini bg-success text-white">
                            no total
                        </div>
                    </a>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <a class="block block-rounded block-link-hover3 text-center" href="#!/contrato">
                        <div class="block-content block-content-full">
                            <div class="h1 font-w700" ng-init="totalContratoAtivo()"><span class="h2 text-muted">+</span> {{ totalcontract }}</div>
                            <div class="h5 text-muted text-uppercase push-5-t">Contratos</div>
                        </div>
                        <div class="block-content block-content-full block-content-mini bg-danger text-white">
                            ativos
                        </div>
                    </a>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <a class="block block-rounded block-link-hover3 text-center" href="javascript:void(0)">
                        <div class="block-content block-content-full">
                            <div class="h1 font-w700" ng-init="totalAditivosAtivo()"><span class="h2 text-muted">+</span> {{ totaladditions }}</div>
                            <div class="h5 text-muted text-uppercase push-5-t">Aditivos</div>
                        </div>
                        <div class="block-content block-content-full block-content-mini bg-warning text-white">
                            ativos
                        </div>
                    </a>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <a class="block block-rounded block-link-hover3 text-center" href="#!/fornecedor">
                        <div class="block-content block-content-full">
                            <div class="h1 font-w700" ng-init="totalFornecedores()"><span class="h2 text-muted">+</span> {{ totalprovider }}</div>
                            <div class="h5 text-muted text-uppercase push-5-t">Fornecedores</div>
                        </div>
                        <div class="block-content block-content-full block-content-mini bg-primary text-white">
                            disponível
                        </div>
                    </a>
                </div>
            </div>
            <!-- END Background Colored Text Tiles -->
            <!-- END Texts Tiles -->

            <div class="block" ng-if="accessProfile == 1 || accessProfile == 2">
                <div class="block-header">
                    <h3 class="block-title">PRODUTOS ABAIXO DO ESTOQUE MÍNIMO</h3>
                </div>
                <div class="block-content">
                    <table class="table table-striped table-borderless table-header-bg" ng-init="nivelestoqueprodutos()" ng-show="totalnivelproduto > 0">
                        <thead>
                            <tr>
                                <th style="width: 50px;" class="text-center">#</th>
                                <th>Produto</th>
                                <th style="width: 25%;" class="hidden-xs">Fornecedor</th>
                                <th style="width: 15%;" class="hidden-xs">Qtd Min.</th>
                                <th style="width: 15%;" class="hidden-xs">Qtd Atual</th>
                                <th style="width: 100px;" class="text-center">Sigla</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="prod in nivelproduto">
                                <td class="text-center">{{$index+1}}</td>
                                <td>{{prod.descricao}}</td>
                                <td class="hidden-xs">
                                    {{prod.razaosocial}}
                                </td>
                                <td class="hidden-xs">
                                    <span class="label label-danger">{{prod.qtdminima}}</span>
                                </td>
                                <td class="hidden-xs">
                                    {{prod.qtdatual}}
                                </td>
                                <td class="text-center">
                                   <span class="label label-primary">{{prod.sigla}}</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table" ng-show="!totalnivelproduto">
                        <tr>
                            <td colspan="6">Nenhum item encontrado.</td>
                        </tr>
                    </table>
                </div>
            </div>

        </div>
        <!-- end conteudo do app -->
    </main>
    <!-- END Main Container -->

    <!-- Footer -->
    <md-footer></md-footer>
    <!-- end Footer -->

</div>
<!-- END Page Container -->