<!-- includes views -->
<!-- <div ng-include="'views/loading.html'"></div> -->
<!-- <message-list></message-list> -->

<!-- Page Container -->
<div id="page-container" class="sidebar-l sidebar-o side-scroll header-navbar-fixed">

    <!-- Sidebar -->
    <md-sidebar></md-sidebar>
    <!-- end Sidebar -->    

    <!-- Header -->
    <md-header></md-header>
    <!-- end Header -->

    <!-- Main Container -->
    <main id="main-container" >
        <!-- conteudo do app -->
    </main>
    <!-- END Main Container -->

    <!-- Footer -->
    <md-footer></md-footer>
    <!-- end Footer -->

</div>
<!-- END Page Container -->