<!-- Page Container -->
<div id="page-container" class="sidebar-l sidebar-o side-scroll header-navbar-fixed">

<!-- Sidebar -->
<md-sidebar></md-sidebar>
<!-- end Sidebar -->    

<!-- Header -->
<md-header></md-header>
<!-- end Header -->

<!-- Main Container -->
<main id="main-container">

<!-- Page Header -->
<div class="content bg-gray-lighter">
    <div class="row items-push">
        <div class="col-sm-8">
            <h1 class="page-heading">
                Veículo <small>visualize, pesquise na lista de veículos cadastrados</small>
            </h1>
        </div>
        <div class="col-sm-4 text-right hidden-xs">
            <ol class="breadcrumb push-10-t">
                <li>Dashboard</li>
                <li><a class="link-effect" href="#!/veiculo">Veículo</a></li>
            </ol>
        </div>
    </div>
</div>
<!-- END Page Header -->

<!-- Page Content -->
<div class="content content-narrow" ng-init="load()">
	<div class="block">
		<div class="row">
			<div class="col-sm-12">

				<!-- Messages -->
	            <div ng-include="'views/messages.html'"></div>
	            <!-- End Messages -->

				<p></p><!-- clearfixed -->

				<div class="row">
					<div class="col-sm-12">
						<div class="col-sm-4">
							<form ng-show="totalItems">
						    	<div class="form-group">
							      <div class="input-group">
							        <div class="input-group-addon"><i class="fa fa-search"></i></div>
							        <input type="text" class="form-control" placeholder="Busca" ng-model="searchItem">
							      </div>      
						      	</div>
						    </form>
						</div><!-- search table -->
						<div class="col-sm-8">
							<a href="#!/veiculo/add" class="btn btn-success btn-sm pull-right">
								<i class="glyphicon glyphicon-plus"></i> Adicionar
							</a>
						</div>
						<!-- end action add -->
					</div>
				</div><!-- end col-sm-12 -->

				<p></p><!-- clearfixed -->

				<div class="col-sm-12">

					<div class="table-responsive" ng-show="totalItems > 0">
						<table class="table table-striped">
							<thead>
								<th width="1%" >#</th>
								<th width="14%" >
									<a href="#!/veiculo" ng-click="sortType = 'placa'; sortReverse = !sortReverse">
										Placa
										<span ng-show="sortType == 'placa' && !sortReverse" class="fa fa-caret-down"></span>
			            				<span ng-show="sortType == 'placa' && sortReverse" class="fa fa-caret-up"></span>
									</a>
								</th>
								<th width="25%" >Modelo</th>
								<th width="20%" >Tipo Combustivel</th>
								<th width="25%" >Motorista</th>
								<th width="5%"></th>
								<th width="5%"></th>
								<th width="5%"></th>
							</thead>
							<tbody>
								<tr ng-repeat="v in veiculos | orderBy:sortType:sortReverse | filter:searchItem | filter : paginate">
									<td>{{$index+1}}</td>
									<td>{{v.placa}}</td>
									<td>{{v.modelo}}</td>
									<td>
										<div ng-show="v.tipocombustivel==1">Gasolina</div>
										<div ng-show="v.tipocombustivel==2">Álcool</div>
										<div ng-show="v.tipocombustivel==3">Diesel</div>
										<div ng-show="v.tipocombustivel==4">Diesel S10</div>
									</td>
									<td>{{v.motorista}}</td>
									<td>
										<a class="btn btn-default btn-sm" href="javascript:;" 
											ng-click="detalhes(v)"
											tooltips tooltip-title="tip" tooltip-side="top"
											title="Detalhes">
											<i class="glyphicon glyphicon-list"></i>
										</a>
									</td>
									<td>
										<a class="btn btn-info btn-sm" 
											href="#!/veiculo/edit/{{v.idveiculo}}"
											tooltips tooltip-title="tip" tooltip-side="top"
											title="Editar">
											<i class="glyphicon glyphicon-pencil"></i>
										</a>
									</td>
									<td>
										<a class="btn btn-danger btn-sm" href="javascript:;" 
											ng-click="deleteconfirm(v)"
											tooltips tooltip-title="tip" tooltip-side="top"
											title="Excluir">
											<i class="glyphicon glyphicon-trash"></i>
										</a>
									</td>
								</tr>
							</tbody>
						</table>
						<pagination total-items="totalItems" ng-model="currentPage" max-size="5" boundary-links="true" items-per-page="numPerPage" class="pagination-sm"></pagination>
					</div>

					<div class="col-md-12" ng-show="!totalItems">
				        <table class="table">
				        	<tr>
				        		<td colspan="7">Nenhum item encontrado.</td>
				        	</tr>
				        </table>
				        </div>
				    </div>

				</div>

			</div><!-- end col-sm-12 -->
		</div><!-- end row -->
	</div><!-- end block -->
</div>
<!-- END Page Content -->

</main>
<!-- END Main Container -->

<!-- Footer -->
<md-footer></md-footer>
<!-- end Footer -->

</div>
<!-- END Page Container -->