<section>
    <div class="block block-themed block-transparent remove-margin-b">
        <div class="block-header bg-primary-dark">
            <ul class="block-options">
                <li>
                    <button type="button" data-dismiss="modal" ng-click="cancel()"><i class="si si-close"></i></button>
                </li>
            </ul>
            <h3 class="block-title">Detalhes do Contrato</h3>
        </div>
        <div class="block-content">
            <div class="row form-group">
                <div class="col-sm-12">
                    <span ng-show="contrato.diasrestantes > 30" class="badge label-success">&nbsp;</span><span ng-show="contrato.diasrestantes <= 30 && contrato.diasrestantes >= 0" class="badge label-warning">&nbsp;</span><span ng-show="contrato.diasrestantes < 0" class="badge label-danger">&nbsp;</span>
                </div>
            </div><!-- END INPUT -->
            <div class="row form-group">
                <div class="col-sm-6">
                    <label for="nome" class="control-label">Tipo:</label>
                    {{contrato.tipo}}
                </div>
                <div class="col-sm-6">
                    <label for="cnpj" class="control-label">Tipo de compra:</label>
                    {{contrato.tipoobjetos}}
                </div>
            </div><!-- END INPUT -->
            <div class="row form-group" ng-show="contrato.tipo == 'Termo de Adesão' || contrato.tipo == 'Licitação'">
                <fieldset>
                    <div class="col-sm-12">
                        <h3 ng-show="contrato.tipo == 'Termo de Adesão'" class="block-title border-h3">Informações básicas do termo de adesão</h3>
                        <h3 ng-show="contrato.tipo == 'Licitação'" class="block-title border-h3">Informações básicas da licitação</h3>
                        <div class="row">
                            <div class="col-sm-6">
                                <label for="telefone" class="control-label">Número:</label>
                                {{contrato.numerotali}}
                            </div>
                            <div class="col-sm-6">
                                <label for="celular" class="control-label">Data Assinatura:</label>
                                {{contrato.dataassinaturatali}}
                            </div>
                            <div class="col-sm-6">
                                <label for="email" class="control-label">Número da Ata:</label>
                                {{contrato.numeroata}}
                            </div>
                            <div class="col-sm-6">
                                <label for="email" class="control-label">Validade da Ata:</label>
                                {{contrato.validadeata}}
                            </div>
                            <div class="col-sm-6">
                                <label for="telefone" class="control-label">Número do Pregão:</label>
                                {{contrato.numeropregao}}
                            </div>
                            <div class="col-sm-6">
                                <label for="celular" class="control-label">Número do Processo:</label>
                                {{contrato.numeroprocesso}}
                            </div>
                            <div class="col-sm-12">
                                <label for="cidade" class="control-label">Órgão Gerenciador:</label>
                                {{contrato.sigla}} - {{contrato.nome}}
                            </div>
                        </div>    
                    </div>
                </fieldset>
            </div>
            <div class="row form-group" ng-show="contrato.tipo == 'Compra Direta' || contrato.tipo == 'Dispensa de Licitação'">
                <fieldset>
                    <div class="col-sm-12">
                        <h3 ng-show="contrato.tipo == 'Compra Direta'" class="block-title border-h3">Informações básicas da compra direta</h3>
                        <h3 ng-show="contrato.tipo == 'Dispensa de Licitação'" class="block-title border-h3">Informações básicas da dispensa de licitação</h3>
                        <div class="row">
                            <div class="col-sm-6">
                                <label for="telefone" class="control-label">Número:</label>
                                {{contrato.numerocd}}
                            </div>
                            <div class="col-sm-6">
                                <label for="email" class="control-label">Número do Parecer Juridico:</label>
                                {{contrato.numeroparecerjuridico}}
                            </div>
                            <div class="col-sm-12">
                                <label for="celular" class="control-label">Data Compra:</label>
                                {{contrato.datacompra}}
                            </div>
                        </div>    
                    </div>
                </fieldset>
            </div>
            <div class="row form-group">
                <fieldset>
                    <div class="col-sm-12">
                        <h3 class="block-title border-h3">Informações do contrato</h3>
                        <div class="row">
                            <div class="col-sm-6">
                                <label for="telefone" class="control-label">Número Contrato:</label>
                                {{contrato.numerocontrato}}
                            </div>
                            <div class="col-sm-6">
                                <label for="email" class="control-label">Valor:</label>
                                {{contrato.valor | finance:true:2}}
                            </div>
                            <div class="col-sm-6">
                                <label for="celular" class="control-label">Data Assinatura:</label>
                                {{contrato.dataassinatura}}
                            </div>
                            <div class="col-sm-6">
                                <label for="celular" class="control-label">Validade:</label>
                                {{contrato.validade}}
                            </div>
                            <!--div class="col-sm-6">
                                <label for="telefone" class="control-label">Número Empenho:</label>
                                {{contrato.numeroempenho}}
                            </div-->
                            <div class="col-sm-12">
                                <label for="email" class="control-label">Objeto:</label>
                                {{contrato.objeto}}
                            </div>
                        </div>    
                    </div>    
                </fieldset>
            </div>
            <div class="form-group" ng-show="qtdAditivos > 0">
                <fieldset>
                    <h3 class="block-title border-h3">Aditivos</h3>
                    <div class="row">
                        <div class="col-sm-12">
                            Este contrato já está no {{qtdAditivos}}º aditivo
                        </div>
                    </div>    
                </fieldset>
            </div>
            <div class="form-group" ng-init="loadcontratositens(contrato.idcontrato);">
                <fieldset>
                    <h3 class="block-title border-h3">Itens vinculados do contrato</h3>
                    <div class="form-group">
                        <div class="table-responsive" ng-show="totalItemsD > 0">
                            <table class="table table-striped">
                                <thead>
                                    <th width="1%" >#</th>
                                    <th width="25%" >Desc.</th>
                                    <th width="25"> Fornecedor</th>
                                    <th width="12%" >Unid. Medida</th>
                                    <th width="11%" >QTD</th>
                                    <th width="13%" >Valor Unit.</th>
                                    <th width="13%" >Total</th>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in itenscadastrados | orderBy:sortType:sortReverse | filter:searchItem | filter : paginate">
                                        <td>{{$index+1}}</td>
                                        <td>{{item.descricao}}</td>
                                        <td>{{item.razaosocial}}</td>
                                        <td>{{item.sigla}}</td>
                                        <td>{{item.qtd}}</td>
                                        <td>{{item.valorunitario  | finance:true:2}}</td>
                                        <td>{{item.total  | finance:true:2}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <!--<pagination total-items="totalItems" ng-model="currentPage" max-size="5" boundary-links="true" items-per-page="numPerPage" class="pagination-sm"></pagination>-->
                        </div>

                        <div class="col-md-12" ng-show="!totalItemsD">
                            <table class="table">
                                <tr>
                                    <td colspan="7">Nenhum item vinculado.</td>
                                </tr>
                            </table>
                        </div>
                    </div><!-- END INPUT -->
                    <h3 ng-show="totalItemsD > 0" class="block-title pull-left"><small>Total geral:</small> {{ totalgeral | finance:true:2 }}</h3>
                </fieldset>
            </div>
        <div class="form-group">
                <fieldset>
                    <h3 class="block-title border-h3">Empenhos vinculados ao contrato</h3>
                    <div class="form-group">
                        <div class="table-responsive" ng-show="totalItemsE > 0">
                            <table class="table table-striped">
                                        <thead>
                                            <th width="1%" >#</th>
                                            <th width="49%" >Fornecedor</th>
                                            <th width="25%" >Número do Empenho</th>
                                            <th width="25%" >Valor</th>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="item in itenscadastradosE | orderBy:sortType:sortReverse | filter:searchItem | filter : paginate">
                                                <td>{{$index+1}}</td>
                                                <td>{{item.cnpj | brCnpj}} - {{item.razaosocial}}</td>
                                                <td>{{item.numero}}</td>
                                                <td>{{item.valor  | finance:true:2}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                            <!--<pagination total-items="totalItems" ng-model="currentPage" max-size="5" boundary-links="true" items-per-page="numPerPage" class="pagination-sm"></pagination>-->
                        </div>

                        <div class="col-md-12" ng-show="!totalItemsE">
                            <table class="table">
                                <tr>
                                    <td colspan="7">Nenhum item vinculado.</td>
                                </tr>
                            </table>
                        </div>
                    </div><!-- END INPUT -->
                    <h3 ng-show="totalItemsE > 0" class="block-title pull-left"><small>Total geral:</small> {{ totalgeralE | finance:true:2 }}</h3>
                </fieldset>
            </div>
            <div class="form-group" ng-init="loadarquivos(contrato.idcontrato);">
                <fieldset>
                    <h3 class="block-title border-h3">Arquivos vinculados do contrato</h3>
                    <div class="form-group">
                        <div class="table-responsive" ng-show="totalItemsA > 0">
                        <table class="table table-striped">
                            <thead>
                                <th width="1%" >#</th>
                                <th width="99%" >Arquivo</th>
                            </thead>
                            <tbody>
                                <tr ng-repeat="arquivo in arquivos | orderBy:sortType:sortReverse | filter:searchItem | filter : paginate">
                                    <td>{{$index+1}}</td>
                                    <td><a href="/upload/{{arquivo.arquivo}}" target="_blank">{{arquivo.nome}}</a></td>
                                </tr>
                            </tbody>
                        </table>
                        <!--<pagination total-items="totalItems" ng-model="currentPage" max-size="5" boundary-links="true" items-per-page="numPerPage" class="pagination-sm"></pagination>-->
                    </div>
                    <div class="table-responsive" ng-show="totalItemsA == 0"> Nenhum arquivo vinculado.</div>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div align="left"><span class="badge label-success">&nbsp;</span> No prazo | <span class="badge label-warning">&nbsp;</span> Menos de 30 dias para o vencimento | <span class="badge label-danger">&nbsp;</span> Vencido</div>
        <button class="btn btn-sm btn-warning" ng-click="cancel()">Fechar</button>
    </div>
</section>
<!-- end modal -->