<section>
    <div class="block block-themed block-transparent remove-margin-b">
        <div class="block-header bg-primary-dark">
            <ul class="block-options">
                <li>
                    <button type="button" data-dismiss="modal" ng-click="cancel()"><i class="si si-close"></i></button>
                </li>
            </ul>
            <h3 class="block-title">Detalhes do Aditivo</h3>
        </div>
        <div class="block-content">
            <div class="row form-group">
                <div class="col-sm-12">
                    <span ng-show="contratoAditivo.diasrestantes > 30" class="badge label-success">&nbsp;</span><span ng-show="contratoAditivo.diasrestantes <= 30 && contratoAditivo.diasrestantes >= 0" class="badge label-warning">&nbsp;</span><span ng-show="contratoAditivo.diasrestantes < 0" class="badge label-danger">&nbsp;</span>
                </div>
            </div><!-- END INPUT -->
            <div class="row form-group">
                <div class="col-sm-6">
                    <label for="nome" class="control-label">Número do Contrato:</label>
                    {{contratoAditivo.numerocontrato}}
                </div>
                <div class="col-sm-6">
                    <label for="cnpj" class="control-label">Numero do Aditivo:</label>
                    {{contratoAditivo.numero}}
                </div>
            </div><!-- END INPUT -->
            <div class="row form-group">
                <fieldset>
                    <div class="col-sm-12">
                        <h3 class="block-title border-h3">Informações básicas do aditivo</h3>
                        <div class="row">
                            <div class="col-sm-6">
                                <label for="telefone" class="control-label">Validade:</label>
                                {{contratoAditivo.validade}}
                            </div>
                            <div class="col-sm-6">
                                <label for="email" class="control-label">Valor:</label>
                                {{contratoAditivo.valor  | finance:true:2}}
                            </div>
                            <div class="col-sm-12">
                                <label for="celular" class="control-label">Observação:</label>
                                {{contratoAditivo.obs}}
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="row form-group" ng-init="loadcontratositens(contrato.idcontrato);">
                <fieldset>
                    <div class="col-sm-12">
                    <h3 class="block-title border-h3">Itens vinculados do contrato</h3>
                        <div class="form-group">
                            <div class="table-responsive" ng-show="totalItemsD > 0">
                                <table class="table table-striped">
                                    <thead>
                                        <th width="1%" >#</th>
                                        <th width="25%" >Desc.</th>
                                        <th width="25"> Fornecedor</th>
                                        <th width="12%" >Unid. Medida</th>
                                        <th width="11%" >QTD</th>
                                        <th width="13%" >Valor Unit.</th>
                                        <th width="13%" >Total</th>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in itenscadastrados | orderBy:sortType:sortReverse | filter:searchItem | filter : paginate">
                                            <td>{{$index+1}}</td>
                                            <td>{{item.descricao}}</td>
                                            <td>{{item.razaosocial}}</td>
                                            <td>{{item.sigla}}</td>
                                            <td>{{item.qtd}}</td>
                                            <td>{{item.valorunitario  | finance:true:2}}</td>
                                            <td>{{item.total  | finance:true:2}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <!--<pagination total-items="totalItems" ng-model="currentPage" max-size="5" boundary-links="true" items-per-page="numPerPage" class="pagination-sm"></pagination>-->
                            </div>

                            <div class="col-md-12" ng-show="!totalItemsD">
                                <table class="table">
                                    <tr>
                                        <td colspan="7">Nenhum item vinculado.</td>
                                    </tr>
                                </table>
                            </div>
                        </div><!-- END INPUT -->
                        <h3 ng-show="totalItemsD > 0" class="block-title pull-left"><small>Total geral:</small> {{ totalgeral | finance:true:2 }}</h3>
                    </div>
                </fieldset>
            </div>
            <div class="form-group" ng-init="loadarquivos(contratoAditivo.idaditivo);">
                <fieldset>
                    <h3 class="block-title border-h3">Arquivos vinculados do contrato</h3>
                    <div class="form-group">
                        <div class="table-responsive" ng-show="totalItemsA > 0">
                        <table class="table table-striped">
                            <thead>
                                <th width="1%" >#</th>
                                <th width="99%" >Arquivo</th>
                            </thead>
                            <tbody>
                                <tr ng-repeat="arquivo in arquivos | orderBy:sortType:sortReverse | filter:searchItem | filter : paginate">
                                    <td>{{$index+1}}</td>
                                    <td><a href="/upload/{{arquivo.arquivo}}" target="_blank">{{arquivo.nome}}</a></td>
                                </tr>
                            </tbody>
                        </table>
                        <!--<pagination total-items="totalItems" ng-model="currentPage" max-size="5" boundary-links="true" items-per-page="numPerPage" class="pagination-sm"></pagination>-->
                    </div>
                    <div class="table-responsive" ng-show="totalItemsA == 0"> Nenhum arquivo vinculado.</div>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
    <div class="modal-footer">
    <div align="left"><span class="badge label-success">&nbsp;</span> No prazo | <span class="badge label-warning">&nbsp;</span> Menos de 30 dias para o vencimento | <span class="badge label-danger">&nbsp;</span> Vencido</div>
        <button class="btn btn-sm btn-warning" ng-click="cancel()">Fechar</button>
    </div>
</section>
<!-- end modal -->