<!-- Page Container -->
<div id="page-container" class="sidebar-l sidebar-o side-scroll header-navbar-fixed">

<!-- Sidebar -->
<md-sidebar></md-sidebar>
<!-- end Sidebar -->    

<!-- Header -->
<md-header></md-header>
<!-- end Header -->

<!-- Main Container -->
<main id="main-container">

<!-- Page Header -->
<div class="content bg-gray-lighter">
    <div class="row items-push">
        <div class="col-sm-8">
            <h1 class="page-heading">
                Formulário de Vinculação dos Empenho <small>adicione os empenhos ao aditivo</small>
            </h1>
        </div>
        <div class="col-sm-4 text-right hidden-xs">
            <ol class="breadcrumb push-10-t">
                <li>Dashboard</li>
                <li><a class="link-effect" href="#!/contrato">Contrato</a></li>
            </ol>
        </div>
    </div>
</div>
<!-- END Page Header -->

<!-- Page Content -->
<div class="content content-narrow">
	<div class="block">
		<div class="row">
			<div class="col-sm-12">

				<!-- Messages -->
		        <div ng-include="'views/messages.html'"></div>
		        <!-- End Messages -->

				<p></p><!-- clearfixed -->

				<form name="createForm" role="form" class="col-sm-12" novalidate>
					<input type="hidden" ng-model="aditivoItens.idaditivo" name="idaditivo">
					<input type="hidden" ng-model="aditivoItens.idempenho_aditivo" name="idempenho_aditivo">
						<div class="row form-group">
							<div class="col-sm-8">
								<h3 class="block-title pull-left"><small>Número Aditivo:</small> {{aditivo.numero}}</h3>
								<p></p><!-- clearfixed -->
								<h3 class="block-title pull-left"><small>Valor:</small> {{aditivo.valor | finance:true:2}}</h3>
							</div>
							<div class="col-sm-4">
								<a href="#!/contrato/aditivos/{{aditivo.idcontrato}}"
								class="link pull-right fc-mg-right-default-1x fc-mg-top-default">
								<i class="glyphicon glyphicon-menu-left"></i> Voltar</a>
							</div>
						</div><!-- END INPUT -->

						<div class="row form-group">
							<div class="col-sm-12">
								<label for="nome" class="control-label">Fornecedor: <span class="red">*</span></label>
								<select class="form-control" ng-model="aditivoItens.idfornecedor" name="idfornecedor" ng-init="loadfornecedores()" required>
									<option value="">Escolha</option>
									<option ng-repeat="fornecedor in fornecedores" value="{{fornecedor.idfornecedor}}" ng-selected="fornecedor.idfornecedor==aditivoItens.idfornecedor">{{fornecedor.cnpj | brCnpj}} - {{fornecedor.razaosocial}}</option>
								</select>
								<span class="help-block" ng-show="createForm.idfornecedor.$dirty && createForm.idfornecedor.$error.required">O campo é obrigatório</span>
							</div>
						</div><!-- END INPUT -->
						<div class="row form-group">
							<div class="col-sm-6">
								<label for="nome" class="control-label">Número: <span class="red">*</span></label>
								<input type="text" class="form-control" ng-model="aditivoItens.numero" name="numero" placeholder="Informe número do empenho">
								<span class="help-block" ng-show="createForm.numero.$dirty && createForm.numero.$error.required">O campo é obrigatório</span>
							</div>
							<div class="col-sm-6">
								<label for="nome" class="control-label">Valor: <span class="red">*</span></label>
								<input type="text" class="form-control" ng-model="aditivoItens.valor" name="valor" placeholder="Informe o valor do empenho" ui-money-mask="2" required>
								<span class="help-block" ng-show="createForm.valor.$dirty && createForm.valor.$error.required">O campo é obrigatório</span>
							</div>
						</div><!-- END INPUT -->
						<div class="row form-group">
							<div class="col-sm-12">
								<button type="submit" ng-show="aditivoItens.idempenho_aditivo == 0" ng-click="additens()" class="btn btn-sm btn-primary" ng-class="{disabled: createForm.$invalid}" ng-disabled="submitting" ng-switch="submitting">
									<span ng-switch-default>Adicionar</span>
				    				<span ng-switch-when="true">Adicionando...</span>
								</button>
								<button type="submit" ng-show="aditivoItens.idempenho_aditivo != 0" ng-click="additens()" class="btn btn-sm btn-primary" ng-class="{disabled: createForm.$invalid}" ng-disabled="submitting" ng-switch="submitting">
									<span ng-switch-default>Editar</span>
				    				<span ng-switch-when="true">Editando...</span>
								</button>
								<button type="reset" class="btn btn-sm btn-default" ng-click="contratoItens=''">
									Limpar
								</button>
							</div>
						</div><!-- END INPUT -->
						<fieldset>
							<legend>Empenhos realizados do contrato</legend>
							<div class="form-group">
								<div class="table-responsive" ng-show="totalItems > 0">
									<table class="table table-striped">
										<thead>
											<th width="1%" >#</th>
											<th width="49%" >Fornecedor</th>
											<th width="15%" >Número do Empenho</th>
											<th width="15%" >Valor</th>
											<th width="20%"></th>
										</thead>
										<tbody>
											<tr ng-repeat="item in itenscadastrados | orderBy:sortType:sortReverse | filter:searchItem | filter : paginate">
												<td>{{$index+1}}</td>
												<td>{{item.cnpj | brCnpj}} - {{item.razaosocial}}</td>
												<td>{{item.numero}}</td>
												<td>{{item.valor  | finance:true:2}}</td>
												<td>
													<a class="btn btn-info btn-sm"  href="javascript:;" 
														ng-click="mudaBotao();editar(item);"
														tooltips tooltip-title="tip" tooltip-side="top"
														title="Editar">
														<i class="glyphicon glyphicon-pencil"></i>
													</a>

													<a class="btn btn-danger btn-sm" href="javascript:;" 
														ng-click="deleteconfirm(item)"
														tooltips tooltip-title="tip" tooltip-side="top"
														title="Excluir">
														<i class="glyphicon glyphicon-trash"></i>
													</a>
												</td>
											</tr>
										</tbody>
									</table>
									<!--<pagination total-items="totalItems" ng-model="currentPage" max-size="5" boundary-links="true" items-per-page="numPerPage" class="pagination-sm"></pagination>-->
								</div>

								<div class="col-md-12" ng-show="!totalItems">
					        		<table class="table">
					        			<tr>
					        				<td colspan="7">Nenhum forcenedor vinculado.</td>
					        			</tr>
					        		</table>
					        	</div>
							</div><!-- END INPUT -->

							<h3 class="block-title pull-left"><small>Total geral:</small> {{ totalgeral | finance:true:2 }}</h3>
						</fieldset>

					<p></p><!-- clearfixed -->

				</form>

			</div><!-- end col-sm-12 -->
		</div><!-- end row -->
	</div><!-- end block -->
</div>
<!-- END Page Content -->
</main>
<!-- END Main Container -->

<!-- Footer -->
<md-footer></md-footer>
<!-- end Footer -->

</div>
<!-- END Page Container -->