<!-- Page Container -->
<div id="page-container" class="sidebar-l sidebar-o side-scroll header-navbar-fixed">

<!-- Sidebar -->
<md-sidebar></md-sidebar>
<!-- end Sidebar -->    

<!-- Header -->
<md-header></md-header>
<!-- end Header -->

<!-- Main Container -->
<main id="main-container">

<!-- Page Header -->
<div class="content bg-gray-lighter">
    <div class="row items-push">
        <div class="col-sm-8">
            <h1 class="page-heading">
                Formulário de Aditivo de Contrato <small>adicione, edite os itens do aditivo</small>
            </h1>
        </div>
        <div class="col-sm-4 text-right hidden-xs">
            <ol class="breadcrumb push-10-t">
                <li>Dashboard</li>
                <li><a class="link-effect" href="#!/contrato">Contrato</a></li>
            </ol>
        </div>
    </div>
</div>
<!-- END Page Header -->

<!-- Page Content -->
<div class="content content-narrow">
	<div class="block">
		<div class="row">
			<div class="col-sm-12">

				<!-- Messages -->
		        <!-- <div ng-include="'views/messages.html'"></div> -->
		        <!-- End Messages -->

				<p></p><!-- clearfixed -->

				<form name="createForm" role="form" class="col-sm-12" novalidate>
					<input type="hidden" ng-model="contratoAditivo.idcontrato" name="idcontrato">
					<input type="hidden" ng-model="contratoAditivo.idaditivo" name="idaditivo">
					<fieldset>
					<legend>Informações do aditivo</legend>
						<div class="row">
							<div class="col-sm-4 form-group">
									<label for="telefone" class="control-label">Número Aditivo:<span class="red">*</span></label>
									<input type="text" class="form-control" ng-model="contratoAditivo.numero" name="numerocontrato" placeholder="Informe o número" required>
									<span class="help-block" ng-show="createForm.numero.$dirty && createForm.numero.$error.required">O campo é obrigatório</span>
								</div>
								<div class="col-sm-4 form-group">
									<label for="email" class="control-label">Valor:</label>
									<input type="text" class="form-control" ng-model="contratoAditivo.valor" name="valor" placeholder="Informe o valor" ui-money-mask="2" required>
									<span class="help-block" ng-show="createForm.valor.$dirty && createForm.valor.$error.required">O campo é obrigatório</span>
								</div>
								<div class="col-sm-4 form-group">
									<label for="celular" class="control-label">Validade:</label>
	              					<input type="text" class="form-control" ng-model="contratoAditivo.validade" name="validade" ui-mask="99/99/9999" required>
	              					<span class="help-block" ng-show="createForm.validade.$dirty && createForm.validade.$error.required">O campo é obrigatório</span>
								</div>
								<div class="col-sm-12 form-group">
									<label for="email" class="control-label">Observação:</label>
									<textarea class="form-control" ng-model="contratoAditivo.obs" name="obs" placeholder="Informe a observação do aditivo"></textarea>
								</div>
						</div>
					</fieldset>

					<img src="assets/img/ajax-loader.gif" ng-show="isloading">
					<button type="submit" ng-click="saveitem()" ng-class="{disabled: createForm.$invalid}" class="btn btn-sm btn-primary" ng-disabled="submitting" ng-switch="submitting">
						<span ng-switch-default>Salvar</span>
				    	<span ng-switch-when="true">Salvando...</span>
					</button>
					<a href="#!/contrato/aditivos/{{contratoAditivo.idcontrato}}" class="btn btn-sm btn-danger">Cancelar</a>

					<p></p><!-- clearfixed -->

				</form>

			</div><!-- end col-sm-12 -->
		</div><!-- end row -->
	</div><!-- end block -->
</div>
<!-- END Page Content -->
</main>
<!-- END Main Container -->

<!-- Footer -->
<md-footer></md-footer>
<!-- end Footer -->

</div>
<!-- END Page Container -->