<!-- Page Container -->
<div id="page-container" class="sidebar-l sidebar-o side-scroll header-navbar-fixed">

<!-- Sidebar -->
<md-sidebar></md-sidebar>
<!-- end Sidebar -->    

<!-- Header -->
<md-header></md-header>
<!-- end Header -->

<!-- Main Container -->
<main id="main-container">

<!-- Page Header -->
<div class="content bg-gray-lighter">
    <div class="row items-push">
        <div class="col-sm-8">
            <h1 class="page-heading">
                Formulário de Contratos <small>adicione, edite os itens do contrato</small>
            </h1>
        </div>
        <div class="col-sm-4 text-right hidden-xs">
            <ol class="breadcrumb push-10-t">
                <li>Dashboard</li>
                <li><a class="link-effect" href="#!/contrato">Contrato</a></li>
            </ol>
        </div>
    </div>
</div>
<!-- END Page Header -->
<!-- Page Content -->
<div class="content content-narrow">
	<div class="block">
		<div class="row">
			<div class="col-sm-12">

				<!-- Messages -->
		        <!--<div ng-include="'views/messages.html'"></div>-->
		        <!-- End Messages -->

				<p></p><!-- clearfixed -->

				<form name="createForm" role="form" class="col-sm-12" novalidate>
					<input type="hidden" ng-model="contrato.idcontrato" name="idcontrato">

						<div class="form-group">
							<label for="nome" class="control-label">Tipo: <span class="red">*</span></label>
							<select class="form-control" ng-model="contrato.tipo" name="tipo" ng-change="tipo=contrato.tipo" required>
								<option value="">Escolha</option>
								<option value="1">Termo de Adesão</option>
								<option value="2">Licitação</option>
								<option value="3">Compra Direta</option>
							</select>
							<span class="help-block" ng-show="createForm.tipo.$dirty && createForm.tipo.$error.required">O campo é obrigatório</span>
						</div><!-- END INPUT -->
						<div class="form-group">
							<label for="nome" class="control-label">Tipo Compra: <span class="red">*</span></label>
							<select class="form-control" ng-model="contrato.tipoobjetos" name="tipoobjetos" ng-change="tipoobjetos=contrato.tipoobjetos" required>
								<option value="">Escolha</option>
								<option value="1">Material de Consumo</option>
								<option value="2">Bens</option>
								<option value="3">Serviços</option>
							</select>
							<span class="help-block" ng-show="createForm.tipoobjetos.$dirty && createForm.tipoobjetos.$error.required">O campo é obrigatório</span>
						</div><!-- END INPUT -->
						<div class="form-group" ng-show="tipo == 1 || tipo == 2 || contrato.tipo == 1 || contrato.tipo == 2">
							<fieldset>
							<legend>Informações básicas do termo de adesão/licitação</legend>
							<div class="row">
								<div class="col-sm-4 form-group">
									<label for="telefone" class="control-label">Número:<span class="red">*</span></label>
									<input type="text" class="form-control" ng-model="contrato.numerotali" name="numerotali" placeholder="Informe o número" ng-required="tipo == 1 || tipo == 2">
									<span class="help-block" ng-show="createForm.numerotali.$dirty && createForm.numerotali.$error.required">O campo é obrigatório</span>
								</div>
								<div class="col-sm-4 form-group">
									<label for="celular" class="control-label">Data Assinatura:</label>
	              					<input type="text" class="form-control" ng-model="contrato.dataassinaturatali" id="dataassinaturatali" name="dataassinaturatali" ui-mask="99/99/9999" ng-required="tipo == 1 || tipo == 2 || contrato.tipo == 1 || contrato.tipo == 2">
	              					<span class="help-block" ng-show="createForm.dataassinaturatali.$dirty && createForm.dataassinaturatali.$error.required">O campo é obrigatório</span>
								</div>
								<div class="col-sm-4 form-group">
									<label for="email" class="control-label">Número da Ata:</label>
									<input type="text" class="form-control" ng-model="contrato.numeroata" name="numeroata" placeholder="Informe o número da ata" >
								</div>
								<div class="col-sm-4 form-group">
									<label for="email" class="control-label">Validade da Ata: <span class="red">*</span></label>
	              					<input type="text" class="form-control" name="validadeata" ng-model="contrato.validadeata" ui-mask="99/99/9999" ng-required="tipo == 1 || tipo == 2  || contrato.tipo == 1 || contrato.tipo == 2">
	              					<span class="help-block" ng-show="createForm.validadeata.$dirty && createForm.validadeata.$error.required">O campo é obrigatório</span>
								</div>
								<div class="col-sm-4 form-group">
									<label for="telefone" class="control-label">Número do Pregão:<span class="red">*</span></label>
									<input type="text" class="form-control" ng-model="contrato.numeropregao" name="numeropregao" placeholder="Informe o número do pregão" ng-required="tipo == 1 || tipo == 2 || contrato.tipo == 1 || contrato.tipo == 2">
									<span class="help-block" ng-show="createForm.numeropregao.$dirty && createForm.numeropregao.$error.required">O campo é obrigatório</span>
								</div>
								<div class="col-sm-4 form-group">
									<label for="celular" class="control-label">Número do Processo:</label>
									<input type="text" class="form-control" ng-model="contrato.numeroprocesso" name="numeroprocesso" placeholder="Informe o número do processo">
								</div>
								<div class="col-sm-12 form-group">
									<label for="cidade" class="control-label">Õrgão Gerenciador:<span class="red">*</span></label>
									<select class="form-control" ng-model="contrato.idorgao" name="idorgao" ng-init="loadorgaos()" ng-required="tipo == 1 || tipo == 2 || contrato.tipo == 1 || contrato.tipo == 2">
										<option value="">Escolha</option>
										<option ng-repeat="orgao in orgaos" value="{{orgao.idorgao}}" ng-selected="contrato.idorgao==orgao.idorgao">{{orgao.sigla}} - {{orgao.nome}}</option>
									</select>
									<span class="help-block" ng-show="createForm.idorgao.$dirty && createForm.idorgao.$error.required">O campo é obrigatório</span>
								</div>
							</div>
							</fieldset>
						</div>
						<div class="form-group" ng-show="tipo == 3 || contrato.tipo == 3">
							<fieldset>
							<legend>Informações básicas da compra direta</legend>
							<div class="row">
								<div class="col-sm-4 form-group">
									<label for="telefone" class="control-label">Número:<span class="red">*</span></label>
									<input type="text" class="form-control" ng-model="contrato.numerocd" name="numerocd" placeholder="Informe o número" ng-required="tipo == 3 || contrato.tipo == 3">
									<span class="help-block" ng-show="createForm.numerocd.$dirty && createForm.numerocd.$error.required">O campo é obrigatório</span>
								</div>
								<div class="col-sm-4 form-group">
									<label for="email" class="control-label">Número do Parecer Juridico:</label>
									<input type="text" class="form-control" ng-model="contrato.numeroparecerjuridico" name="numeroparecerjuridico" placeholder="Informe o número do parecer juridico">
								</div>
								<div class="col-sm-4 form-group">
									<label for="celular" class="control-label">Data Compra: <span class="red">*</span></label>
	              					<input type="text" class="form-control" name="datacompra" id="datacompra" ng-model="contrato.datacompra" ui-mask="99/99/9999" ng-required="tipo == 3 || contrato.tipo == 3">
	              					<span class="help-block" ng-show="createForm.datacompra.$dirty && createForm.datacompra.$error.required">O campo é obrigatório</span>
								</div>
							</div>
							</fieldset>
						</div>
					<div class="form-group">
					<fieldset>
					<legend>Informações do contrato</legend>
						<div class="row">
							<div class="col-sm-6 form-group">
									<label for="telefone" class="control-label">Número Contrato:<span class="red">*</span></label>
									<input type="text" class="form-control" ng-model="contrato.numerocontrato" name="numerocontrato" placeholder="Informe o número" required>
									<span class="help-block" ng-show="createForm.numerocontrato.$dirty && createForm.numerocontrato.$error.required">O campo é obrigatório</span>
							</div>
							<div class="col-sm-6 form-group">
								<label for="email" class="control-label">Valor: <span class="red">*</span></label>
								<input type="text" class="form-control" ng-model="contrato.valor" name="valor" placeholder="Informe o valor" ui-money-mask="2" required>
								<span class="help-block" ng-show="createForm.valor.$dirty && createForm.valor.$error.required">O campo é obrigatório</span>
							</div>
							<div class="col-sm-6 form-group">
								<label for="celular" class="control-label">Data Assinatura: <span class="red">*</span></label>
              					<input type="text" class="form-control" ng-model="contrato.dataassinatura" name="dataassinatura" ui-mask="99/99/9999" required>
              					<span class="help-block" ng-show="createForm.dataassinatura.$dirty && createForm.dataassinatura.$error.required">O campo é obrigatório</span>
							</div>
							<div class="col-sm-6 form-group">
								<label for="celular" class="control-label">Validade: <span class="red">*</span></label>
								<input type="text" class="form-control" ng-model="contrato.validade" name="validade" ui-mask="99/99/9999" required>
								<span class="help-block" ng-show="createForm.validade.$dirty && createForm.validade.$error.required">O campo é obrigatório</span>
							</div>
							<!--div class="col-sm-6 form-group">
								<label for="telefone" class="control-label">Número Empenho: <span class="red">*</span></label>
								<input type="text" class="form-control" ng-model="contrato.numeroempenho" name="numeroempenho" placeholder="Informe o número do empenho" required>
								<span class="help-block" ng-show="createForm.numeroempenho.$dirty && createForm.numeroempenho.$error.required">O campo é obrigatório</span>
							</div-->
							<div class="col-sm-12 form-group">
								<label for="email" class="control-label">Objeto:</label>
								<textarea class="form-control" ng-model="contrato.objeto" name="objeto" placeholder="Informe o objeto"></textarea>
							</div>
						</div>
					</fieldset>
					</div>
					<img src="assets/img/ajax-loader.gif" ng-show="isloading">
					<button type="submit" ng-click="saveitem()" ng-class="{disabled: createForm.$invalid}" class="btn btn-sm btn-primary" ng-disabled="submitting" ng-switch="submitting">
						<span ng-switch-default>Salvar</span>
				    	<span ng-switch-when="true">Salvando...</span>
					</button>
					<a href="#!/contrato" class="btn btn-sm btn-danger">Cancelar</a>

					<p></p><!-- clearfixed -->

				</form>

			</div><!-- end col-sm-12 -->
		</div><!-- end row -->
	</div><!-- end block -->
</div>
<!-- END Page Content -->
</main>
<!-- END Main Container -->

<!-- Footer -->
<md-footer></md-footer>
<!-- end Footer -->

</div>
<!-- END Page Container -->