<!-- Page Container -->
<div id="page-container" class="sidebar-l sidebar-o side-scroll header-navbar-fixed">

<!-- Sidebar -->
<md-sidebar></md-sidebar>
<!-- end Sidebar -->    

<!-- Header -->
<md-header></md-header>
<!-- end Header -->

<!-- Main Container -->
<main id="main-container">

<!-- Page Header -->
<div class="content bg-gray-lighter">
    <div class="row items-push">
        <div class="col-sm-8">
            <h1 class="page-heading">
                Formulário de Vinculação de Itens ao Contrato <small>adicione os itens ao contrato</small>
            </h1>
        </div>
        <div class="col-sm-4 text-right hidden-xs">
            <ol class="breadcrumb push-10-t">
                <li>Dashboard</li>
                <li><a class="link-effect" href="#!/contrato">Contrato</a></li>
            </ol>
        </div>
    </div>
</div>
<!-- END Page Header -->

<!-- Page Content -->
<div class="content content-narrow">
	<div class="block">
		<div class="row">
			<div class="col-sm-12">

				<!-- Messages -->
		        <!-- <div ng-include="'views/messages.html'"></div> -->
		        <!-- End Messages -->

				<p></p><!-- clearfixed -->

				<form name="createForm" role="form" class="col-sm-12" novalidate>
					<input type="hidden" ng-model="contratoItens.idcontrato" name="idcontrato">
					<input type="hidden" ng-model="contratoItens.iditens_contrato" name="iditens_contrato">
						<div class="row form-group">
							<div class="col-sm-12">
								<label for="nome" class="control-label">Número Contrato:</label>
								{{contrato.numerocontrato}}
								<br>
								<label for="nome" class="control-label">Valor:</label>
								{{contrato.valor | finance:true:2}}
							</div>
						</div><!-- END INPUT -->
						<div class="row form-group">
							<div class="col-sm-12">
								<label for="nome" class="control-label">Fornecedor: <span class="red">*</span></label>
								<select class="form-control" ng-model="contratoItens.idfornecedor" name="idfornecedor" ng-init="loadfornecedores()" required>
									<option value="">Escolha</option>
									<option ng-repeat="fornecedor in fornecedores" value="{{fornecedor.idfornecedor}}" ng-selected="fornecedor.idfornecedor==contratoItens.idfornecedor">{{fornecedor.cnpj | brCnpj}} - {{fornecedor.razaosocial}}</option>
								</select>
								<span class="help-block" ng-show="createForm.tipo.$dirty && createForm.tipo.$error.required">O campo é obrigatório</span>
							</div>
						</div><!-- END INPUT -->
						<div class="row form-group">
							<div class="col-sm-12">
								<label for="nome" class="control-label">Descrição: <span class="red">*</span></label>
								<input type="text" class="form-control" ng-model="contratoItens.descricao" name="descricao" placeholder="Informe a descrição">
								<span class="help-block" ng-show="createForm.descricao.$dirty && createForm.descricao.$error.required">O campo é obrigatório</span>
							</div>
						</div><!-- END INPUT -->
						<div class="row form-group">
							<div class="col-sm-4">
								<label for="nome" class="control-label">Unidade de Medida: <span class="red">*</span></label>
								<select class="form-control" ng-model="contratoItens.idunidade_medida" name="idunidade_medida" ng-init="loadunidademedida()" required>
									<option value="">Escolha</option>
									<option ng-repeat="unidade in unidadesmedida" value="{{unidade.idunidade_medida}}" ng-selected="unidade.idunidade_medida==contratoItens.idunidade_medida">{{unidade.sigla}} - {{unidade.descricao}}</option>
								</select>
								<span class="help-block" ng-show="createForm.idunidade_medida.$dirty && createForm.idunidade_medida.$error.required">O campo é obrigatório</span>
							</div>
							<div class="col-sm-4">
								<label for="nome" class="control-label">Quantidade: <span class="red">*</span></label>
								<input type="text" class="form-control" ng-model="contratoItens.qtd" name="qtd" placeholder="Informe a quantidade" required>
								<span class="help-block" ng-show="createForm.qtd.$dirty && createForm.qtd.$error.required">O campo é obrigatório</span>
							</div>
							<div class="col-sm-4">
								<label for="nome" class="control-label">Valor Unitário: <span class="red">*</span></label>
								<input type="text" class="form-control" ng-model="contratoItens.valorunitario" name="valorunitario" placeholder="Informe o valor unitário" ui-money-mask="2" required>
								<span class="help-block" ng-show="createForm.valorunitario.$dirty && createForm.valorunitario.$error.required">O campo é obrigatório</span>
							</div>
						</div><!-- END INPUT -->
						<div class="row form-group">
							<div class="col-sm-12">
								<button type="submit" ng-show="!mostraBotao" ng-hide="mostraBotao" ng-click="additens()" class="btn btn-primary" ng-class="{disabled: createForm.$invalid}" class="btn btn-primary" ng-disabled="submitting" ng-switch="submitting">
									<span ng-switch-default>Adicionar</span>
				    				<span ng-switch-when="true">Adicionando...</span>
								</button>
								<button type="submit" ng-show="mostraBotao" ng-hide="!mostraBotao" ng-click="additens()" class="btn btn-primary" ng-class="{disabled: createForm.$invalid}" class="btn btn-primary" ng-disabled="submitting" ng-switch="submitting">
									<span ng-switch-default>Editar</span>
				    				<span ng-switch-when="true">Editando...</span>
								</button>
								<button type="reset" class="btn btn-default">
									Limpar
								</button>
							</div>
						</div><!-- END INPUT -->
						<fieldset>
							<legend>Itens Vinculados do Contrato</legend>
						<div class="row form-group">
							<div class="table-responsive" ng-show="totalItems > 0">
								<table class="table table-striped">
									<thead>
										<th width="1%" >#</th>
										<th width="49%" >Descrição</th>
										<th width="10%" >UnidadeMedida</th>
										<th width="10%" >QTD</th>
										<th width="10%" >Valor Unitário</th>
										<th width="10%" >Total</th>
										<th width="10%"></th>
									</thead>
									<tbody>
										<tr ng-repeat="item in itenscadastrados | orderBy:sortType:sortReverse | filter:searchItem | filter : paginate">
											<td>{{$index+1}}</td>
											<td>{{item.descricao}}</td>
											<td>{{item.sigla}}</td>
											<td>{{item.qtd}}</td>
											<td>{{item.valorunitario  | finance:true:2}}</td>
											<td>{{item.total  | finance:true:2}}</td>
											<td><a class="btn btn-info btn-sm"  href="javascript:;" 
												ng-click="editar(item);mudaBotao()">
												<i class="glyphicon glyphicon-pencil"></i></a>
												<a class="btn btn-danger btn-sm" href="javascript:;" 
												ng-click="deleteconfirm(item)">
												<i class="glyphicon glyphicon-trash"></i></a></td>
										</tr>
									</tbody>
								</table>
								<!--<pagination total-items="totalItems" ng-model="currentPage" max-size="5" boundary-links="true" items-per-page="numPerPage" class="pagination-sm"></pagination>-->
							</div>

							<div class="col-md-12" ng-show="!totalItems">
				        		<table class="table">
				        			<tr>
				        				<td colspan="7">Nenhum forcenedor vinculado.</td>
				        			</tr>
				        		</table>
				        	</div>
						</div><!-- END INPUT -->
						<div>Total Geral: {{totalgeral  | finance:true:2}}</div>
						</fieldset>
					<a href="#!/contrato" class="btn btn-danger">Cancelar</a>

					<p></p><!-- clearfixed -->

				</form>

			</div><!-- end col-sm-12 -->
		</div><!-- end row -->
	</div><!-- end block -->
</div>
<!-- END Page Content -->
</main>
<!-- END Main Container -->

<!-- Footer -->
<md-footer></md-footer>
<!-- end Footer -->

</div>
<!-- END Page Container -->