<!-- Page Container -->
<div id="page-container" class="sidebar-l sidebar-o side-scroll header-navbar-fixed">

<!-- Sidebar -->
<md-sidebar></md-sidebar>
<!-- end Sidebar -->    

<!-- Header -->
<md-header></md-header>
<!-- end Header -->

<!-- Main Container -->
<main id="main-container">

<!-- Page Header -->
<div class="content bg-gray-lighter">
    <div class="row items-push">
        <div class="col-sm-8">
            <h1 class="page-heading">
                Formulário de ordem de serviço <small>adicione, pesquisa e edite os itens da ordem de serviço</small>
            </h1>
        </div>
        <div class="col-sm-4 text-right hidden-xs">
            <ol class="breadcrumb push-10-t">
                <li>Dashboard</li>
                <li><a class="link-effect" href="#!/ordemservico">Ordem de serviço</a></li>
            </ol>
        </div>
    </div>
</div>
<!-- END Page Header -->

<!-- Page Content -->
<div class="content content-narrow">
	<div class="block">
		<div class="row">
			<div class="col-sm-12">

				<!-- Messages -->
	            <div ng-include="'views/messages.html'"></div>
	            <!-- End Messages -->

				<p></p><!-- clearfixed -->

				<form name="createForm" role="form" class="col-sm-12" novalidate>

					<input type="hidden" ng-model="ordem.idos" name="idos">

					<div class="row form-group">
						<div class="col-sm-12">
							<label for="numero" class="control-label">Pesquise por Nº de contrato ou aditivo: <span class="red">*</span></label>
							<div class="input-group">
								<input type="text" placeholder="Ex.: 092728198" class="form-control" ng-keyup="searchcontratoaditivo(ordem.numero)" ng-model="ordem.numero" name="numero" autocomplete="off" ng-minlength="3" required>
								<div class="input-group-btn">
									<button class="btn btn-default"><i class="fa fa-search"></i></button>
								</div>
							</div>
							<div class="autocomplete" ng-show="autocomplete">
								<ul>
									<li ng-repeat="busca in resultados"><a href="javascript:void(0);" ng-click="selectedcontratoaditivo(busca)">{{busca.contrato}}</a></li>
								</ul>
								<ul ng-show="!totalresultados">
									<li><p>Nenhum resultado encontrato</p></li>
								</ul>
							</div>
						</div>
					</div><!-- END INPUT -->

					<div class="row form-group" ng-show="iscontratoaditivo">
						<div class="col-sm-12">
							<fieldset>
								<h3 class="block-title">Informações do Nº de contrato ou aditivo</h3>
							</fielset>
						</div>
						<p></p><!-- clearfixed -->
						<div class="col-sm-4 text-white">
							<p class="content-mini content-mini-full bg-primary-dark" style="margin-bottom: 10px;">Nº: {{ordem.numero}}</p>
						</div>
						<div class="col-sm-4 text-white">
							<p class="content-mini content-mini-full bg-success" style="margin-bottom: 10px;">{{ordem.valor | finance:true:2}}</p>
						</div>
						<div class="col-sm-4 text-white">
							<p class="content-mini content-mini-full bg-muted" style="margin-bottom: 10px;">Validade: {{ordem.validade | datebr}}</p>
						</div>
						<div class="col-sm-12 text-white" ng-show="ordem.obs != undefined">
							<p class="content-mini content-mini-full bg-warning" style="margin-bottom: 10px;">{{ordem.obs}}</p>
						</div>
					</div><!-- END INPUT -->

					<div class="row form-group" ng-show="isloadingitens">
						<div class="col-sm-12">
							<div class="text-center">
								<img src="assets/img/ajax-loader.gif">
								<p>Aguarde processando...</p>
							</div>
						</div>
					</div>

					<div class="row form-group" ng-show="isprodutoscontratoaditivo">
						<div class="col-sm-12">
							<fieldset>
								<h3 class="block-title">Produtos do Nº de contrato ou aditivo</h3>
								<p class="help-block">* Abaixo todos campos são obrigatório ou adicione "Zero (0)" no campo de quantidade para o mesmo ser ignorado.</p>
							</fielset>
							<div class="table-responsive">
							<table class="table">
								<thead>
									<tr>
										<th class="text-left" width="30%">Produto</th>
										<th class="text-left" width="25%">Fornecedor</th>
										<th class="text-left" width="10%">Disponível</th>
										<th class="text-left" width="10%">Sigla</th>
										<th class="text-left" width="15%">Quantidade</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="prod in produtosca">
										<td class="text-left">
											<input type="hidden" ng-model="prod.descricao" name="proddescricao">
											<input type="hidden" ng-model="prod.valor" name="prodvalor">
											<input type="hidden" ng-model="prod.idunidade_medida" name="produnidademedida">
											{{prod.descricao}}
										</td>
										<td>
											{{prod.razaosocial}}
										</td>
										<td class="hidden-xs">
											<span class="label label-info">{{prod.qtd}}</span>
										</td>
										<td>
											{{prod.sigla}}
										</td>
										<td>
											<input type="text" class="form-control" ng-model="prod.qtdordem" name="prodqtdordem" ng-init="prod.qtdordem = 0" ng-change="checkrequiredprod(prod.qtd, prod.qtdordem)" required>
											<span class="help-block" ng-show="checkshowmessage(prod.qtd, prod.qtdordem)">A quantidade informada é superior a quantidade disponível</span>
										</td>
									</tr>
								</tbody>
							</table>
							</div>
						</div>

					</div><!-- END INPUT -->
					

					<img src="assets/img/ajax-loader.gif" ng-show="isloading">
					<button type="submit" ng-click="saveitem()" ng-class="{disabled: createForm.$invalid}" class="btn btn-primary" ng-disabled="submitting" ng-switch="submitting">
						<span ng-switch-default>Salvar</span>
				    	<span ng-switch-when="true">Salvando...</span>
					</button>
					<a href="#!/os" class="btn btn-danger">Cancelar</a>

					<p></p><!-- clearfixed -->

				</form>

			</div><!-- end col-sm-12 -->
		</div><!-- end row -->
	</div><!-- end block -->
</div>
<!-- END Page Content -->

</main>
<!-- END Main Container -->

<!-- Footer -->
<md-footer></md-footer>
<!-- end Footer -->

</div>
<!-- END Page Container -->